<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
{{> header }}

<div class="card not_found">
    <img src="../images/not_found.png" alt="Page not found">
</div>

{{> footer }}
</body>
</html>